@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.nav {
	width: 300px;
}

.background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100vh;
	z-index: 9999;
}

.mobile-nav-btn {
	outline: none;
	border: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: absolute;
	top: 16px;
	right: 2px;
	width: 50px;
	height: 50px;
	background: transparent;
}

.mobile-nav-list-container,
.mobile-nav-list-container > li {
	margin: 0;
	padding: 0;
}

.mobile-nav-list-container {
	padding: 25px;
	position: absolute;
	top: 100px;
	width: 230px;
}

.mobile-nav-list-container > li {
	list-style: none;
	display: flex;
	align-items: center;
}
